.DS_Store
    2 .idea/shelf
    3 /android.tests.dependencies
    4 /confluence/target
    5 /dependencies/repo
    6 /dist
    7 /local
    8 /gh-pages
    9 /ideaSDK
   10 /clionSDK
   11 /android-studio/sdk
   12 out/
   13 /tmp
   14 workspace.xml
   15 *.versionsBackup
   16 /idea/testData/debugger/tinyApp/classes*
   17 /jps-plugin/testData/kannotator
   18 /js/js.translator/testData/out/
   19 /js/js.translator/testData/out-min/
   20 .gradle/
   21 build/
   22 !**/src/**/build
   23 !**/test/**/build
   24 *.iml
   25 !**/testData/**/*.iml
   26 .idea/libraries/Gradle*.xml
   27 .idea/libraries/Maven*.xml
   28 .idea/artifacts/PILL_*.xml
   29 .idea/artifacts/KotlinPlugin.xml
   30 .idea/modules
   31 .idea/runConfigurations/JPS_*.xml
   32 .idea/runConfigurations/PILL_*.xml
   33 .idea/libraries
   34 .idea/modules.xml
   35 .idea/gradle.xml
   36 .idea/compiler.xml
   37 .idea/inspectionProfiles/profiles_settings.xml
   38 .idea/.name
   39 .idea/artifacts/dist_auto_*
   40 .idea/artifacts/dist.xml
   41 .idea/artifacts/ideaPlugin.xml
   42 .idea/artifacts/kotlinc.xml
   43 .idea/artifacts/kotlin_compiler_jar.xml
   44 .idea/artifacts/kotlin_plugin_jar.xml
   45 .idea/artifacts/kotlin_jps_plugin_jar.xml
   46 .idea/artifacts/kotlin_daemon_client_jar.xml
   47 .idea/artifacts/kotlin_imports_dumper_compiler_plugin_jar.xml
   48 .idea/artifacts/kotlin_main_kts_jar.xml
   49 .idea/artifacts/kotlin_compiler_client_embeddable_jar.xml
   50 .idea/artifacts/kotlin_reflect_jar.xml
   51 .idea/jarRepositories.xml
   52 kotlin-ultimate/
   53 node_modules/
   54 .rpt2_cache/
   55 libraries/tools/kotlin-test-js-runner/lib/
   56 libraries/tools/kotlin-source-map-loader/lib/
   57 local.properties