<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jmapps.thenamesof">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="jmapps.SplashActivity"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jmapps.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.content.activities.ContentActivity"
            android:label="@string/action_content"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.main.MainContentActivity"
            android:label="@string/action_main_content"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.activities.InputActivity"
            android:label="@string/action_input_type"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.quiz.activities.QuizActivity"
            android:label="@string/action_quiz"
            android:theme="@style/AppTheme" />
    </application>

</manifest>